.template-page {
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: #fff;
  margin: 0;
}
.header-button {
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
